<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about: HTTP Module</title>
    <style>
        body {
            text-align: center;
            font-family: sans-serif;
            font-weight: bold;
            color: #404137;
        }

        h1 {
            font-size: 120px;
            margin: 0;
            color: #83cd29;
        }

        p {
            font-size: 50px;
            font-weight: normal;
            line-height: 1.7;
        }

    </style>
</head>
<body>
    <h1>HTTP Module</h1>
    <p>Node.js has a built-in module called HTTP, which allows Node.js to transfer data over the Hyper Text Transfer Protocol (HTTP).</p>
</body>
</html>