<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple node.js server</title>
    <style>
        body {
            text-align: center;
            font-family: sans-serif;
            font-weight: bold;
            color: #404137;
        }

        h1 {
            font-size: 150px;
            margin: 0;
        }

        h1 span {
            color: #83cd29;
        }

        p {
            font-size: 120px;
            color: #83cd29;
        }

    </style>
</head>
<body>
    <h1>Node<span>.JS</span></h1>
    <p>Server</p>
</body>
</html>